@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

:root {
  --head-color: #e83a4b;
  --secondary-color: #ee9085;
  --light-pink: #fbd6d3;
  --dark-red: #bd2328;
  --btn-red: #ec2c2f;
  --light-body-color: #f9f5f4;
  --dark-body-color: #eeeae6;
  --max-width: 1400px;
  --head-font: "Roboto", sans-serif;
  --text-font: "Raleway", sans-serif;
  --computer-font: "Space Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
}

pre {
  font-family: var(--computer-font);
  padding: 1rem;
  border: 1px solid #ccc;
  overflow-x: auto;
  border-radius: 1rem;
}

.API .active {
  background-color: var(--light-body-color);
  border: 1px solid var(--head-color);
  border-radius: 1.5rem;
}

.API .sidebar {
  margin-top: 2rem;
}

.API .sidebar ul li {
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  border: 1px solid var(--dark-body-color);
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.API .sidebar ul li:hover {
  background-color: var(--light-body-color);
  border-radius: 1.5rem;
}

.API .sidebar ul li.active,
.API .sidebar ul li.active:hover {
  background-color: var(--light-body-color);
  border: 1px solid var(--head-color);
  border-radius: 1.5rem;
}

.API .container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 79vh;
}

.API .sidebar {
  background-color: var(--dark-body-color);
  overflow-y: auto;
}

.API .main-content {
  padding: 20px;
  overflow-y: auto;
}

.main-content .doc hr {
  margin-bottom: 0.8rem;
}

.main-content .doc h2 {
  margin-top: 0.8rem;
}

.endpoint-header,
.parameter-header {
  color: #333;
  font-family: Arial, sans-serif;
}

.endpoint-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.endpoint-table th,
.endpoint-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.endpoint-table th {
  background-color: #f4f4f4;
  color: #333;
}

.endpoint-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.endpoint-table tr:hover {
  background-color: #f1f1f1;
}

.parameter-list {
  list-style-type: none;
  padding: 0;
}

.parameter-list li {
  margin-bottom: 5px;
  font-family: Arial, sans-serif;
}

.additional-info-header,
.example-request-header {
  color: #333;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.additional-info-list,
.example-request-list {
  list-style-type: none;
  padding: 0;
}

.additional-info-list li,
.example-request-list li {
  margin-bottom: 5px;
  font-family: Arial, sans-serif;
}

.example-request-list pre {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
}
