/* Display History */
.DisplayHistory {
  background: var(--dark-body-color);
  padding: 5rem 2rem;
}

.DisplayHistory h3 {
  color: var(--head-color);
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem;
  font-family: "lobster";
}

.DisplayHistory .history-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1rem;
  padding: 1rem;
  padding-bottom: 3rem;
  text-align: center;
  font-size: 1.2rem;
  max-width: var(--max-width);
}

.DisplayHistory .history-grid .item-wrapper {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  border: 1px solid var(--dark-body-color);
}

.DisplayHistory .history-grid .item-wrapper:hover {
  border: 1px solid var(--btn-red);
  border-radius: 1rem;
  background-color: rgba(249, 245, 244, 0.8);
}

.DisplayHistory .history-grid .item-wrapper:first-child {
  grid-column-start: 2;
  grid-column-end: span 2;
  justify-content: space-between;
  border: 1px solid var(--btn-red);
  border-radius: 1rem;
  font-size: 1rem;
  padding: 1rem;
}

.DisplayHistory a {
  position: relative;
  display: inline-block;
  color: var(--head-color);
  margin-top: 2rem;
  text-align: center;
  margin-left: 5rem;
}

.DisplayHistory a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  width: 0;
  height: 0.1rem;
  background-color: #e87a85;
  transition: width 0.3s linear;
}

.DisplayHistory a:hover::before {
  width: 100%;
}

.DisplayHistory .history-grid .item-wrapper svg {
  padding: 0.5rem;
  color: var(--head-color);
}

.DisplayHistory .history-grid h4 {
  color: var(--head-color);
  margin-bottom: 0.2rem;
}

.DisplayHistory .history-grid p {
  color: var(--dark-red);
  font-size: 0.8rem;
}
