/* About */
.about {
  color: var(--dark-red);
  background: linear-gradient(to bottom, #f9f5f4, #edeae6);
}

.about .container {
  padding: 8rem 2rem;
  border-radius: 2rem;
  /* max-width: 1200px; */
  background: var(--secondary-color);
}

.about.container > div > h3 {
  font-family: var(--text-font) !important;
  font-weight: 500;
}

.about .info-numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about .info-numbers h3 {
  font-size: 2.5rem;
  font-family: var(--text-font);
  font-weight: 300;
}

.about hr {
  margin: 2rem 1rem;
  border: none;
  height: 1px;
  background-color: var(--dark-red);
}

.info-numbers-last {
  margin: 5rem 0 0 3rem;
  font-size: 1.2rem;
  font-family: var(--text-font);
}

.info-numbers-last h3 {
  font-family: var(--text-font);
  font-weight: 500;
}

.info-numbers-last a {
  position: relative;
  display: inline-block;
  color: #dd4045;
  margin-left: 0.2rem;
}

.info-numbers-last a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  width: 0;
  height: 0.1rem;
  background-color: #dd4045;
  transition: width 0.3s linear;
}

.info-numbers-last a:hover::before {
  width: 100%;
}

.info-numbers-last ul {
  margin: 1rem 0 0 5rem;
  text-align: left;
}

.info-numbers-last ul li {
  padding: 0.1rem;
}

#about-ul {
  margin: 1rem 0 0 0;
}

.AboutAddition {
  margin: 3rem;
  text-align: left;
  width: 50%;
}

.AboutAddition h2 {
  margin: 0.3rem 0;
  font-weight: 300;
}

.AboutAddition a {
  color: var(--btn-red);
}

.AboutAddition .note-about {
  margin-top: 1rem;
}
