/* Contact */
.Contact {
  max-width: var(--max-width);
  margin: 2rem auto;
}

.Contact {
  color: var(--head-color);
  position: relative;
  background-image: var(--bg-img);
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
}

.Contact::before,
.Contact::after,
.Contact-container::before,
.Contact-container::after {
  content: "";
  position: absolute;
  z-index: 1;
}

.Contact::before {
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: linear-gradient(
    to bottom,
    rgb(237, 234, 230),
    rgba(255, 255, 255, 0)
  );
}

.Contact::after {
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: linear-gradient(
    to top,
    rgb(237, 234, 230),
    rgba(255, 255, 255, 0)
  );
}

.Contact-container::before {
  top: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  background: linear-gradient(
    to right,
    rgb(237, 234, 230),
    rgba(255, 255, 255, 0)
  );
}

.Contact-container::after {
  top: 0;
  bottom: 0;
  right: 0;
  width: 80px;
  background: linear-gradient(
    to left,
    rgb(237, 234, 230),
    rgba(255, 255, 255, 0)
  );
}

.Contact-container {
  position: relative;
  height: 100%;
}

.Contact-inside {
  background: rgba(255, 255, 255, 0.7);
  height: 100%;
  padding: 5rem;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1rem;
}

.Contact-inside h3 {
  font-family: "lobster";
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1.5rem;
  grid-column: 1/ -1;
}

.Contact-inside img,
.Contact-inside .Contact-form {
  grid-column: span 1;
}

.Contact-form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  text-align: left;
  background: rgba(237, 234, 230, 0.9);
  padding: 2rem;
  border-radius: 1.5rem;
}

.Contact-form label {
  text-align: left;
  margin-bottom: 0.2rem;
  margin-left: 1rem;
}

.Contact-form input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border: none;
  border-radius: 0.7rem;
}

.Contact-form button[type="submit"] {
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border: none;
  border-radius: 0.7rem;
  background: var(--secondary-color);
  color: var(--dark-red);
}

.Contact-form textarea[name="text-area"] {
  width: 100%;
  height: 15rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1rem;
  resize: vertical;
  border: none;
  margin-bottom: 1.2rem;
}
