/* Error */
.error {
  display: flex;
  flex-direction: column;
  background: var(--dark-body-color);
  align-items: center;
  justify-content: center;
  border: 1px solid var(--dark-red);
  border-radius: 3rem;
  width: 50%;
  padding: 5rem;
  margin: 2rem auto;
}

.error h1 {
  color: var(--dark-red);
}
.error img {
  width: 15rem;
}
