/* EXAMPLE BEAN*/

.info-grid {
  padding: 5rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1rem;
  padding: 1rem;
  padding-bottom: 3rem;
  text-align: center;
  font-size: 1.2rem;
}

.info-grid .item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: var(--light-body-color);
  padding: 3rem 0;
  border: 1px solid var(--light-body-color);
  border-radius: 2rem;
}

.info-grid .item-wrapper:hover {
  border: 1px solid var(--btn-red);
  border-radius: 2rem;
  background-color: rgba(249, 245, 244, 0.8);
}

.info-grid .item-wrapper h3 {
  font-family: var(--text-font);
  color: var(--dark-red);
}

.info-grid .explore-beans {
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 2rem;
}

.info-grid .item-wrapper a {
  font-family: var(--text-font);
  font-size: 1.5rem;
  color: var(--dark-red);
  position: relative;
  display: inline-block;
}
.info-grid .item-wrapper a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  width: 0;
  height: 0.1rem;
  background-color: var(--dark-red);
  transition: width 0.3s linear;
}

.info-grid .item-wrapper a:hover::before {
  width: 100%;
}

.ExampleBean .info-grid .item-wrapper.explore-beans.info-top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ExampleBean .info-grid .item-wrapper.explore-beans.info-top h2 {
  font-family: var(--head-font);
  font-family: "lobster";
  font-size: 2.2rem;
  color: var(--head-color);
}

.ExampleBean .info-grid .item-wrapper.explore-beans.info-top:hover {
  border: 1px solid var(--light-body-color);
  background-color: rgba(249, 245, 244, 0.8);
}

.ExampleBean .info-grid .item-wrapper.explore-beans.info-bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ExampleBean .info-grid .item-wrapper.explore-beans.info-bottom:hover {
  border: 1px solid var(--light-body-color);
}

.info-grid .img-wrapper {
  width: 20rem;
  margin-top: 2rem;
}
