/* Example Res Com */
.ExampleRecipe {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 3rem;
}

/* Example Recipe */

.ExampleRecipe h2 {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  margin: 3rem 1rem 0 1rem;
  color: var(--head-color);
  background: var(--light-body-color);
  border-radius: 2rem;
  font-size: 2.2rem;
  padding: 2rem 0;
  font-family: "lobster";
}

.ExampleRecipe .recipe-card {
  background: var(--light-body-color);
  margin: 0;
  padding: 3rem;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ExampleRecipe .recipe-card .inline {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ExampleRecipe .recipe-card p {
  margin-top: 0.5rem;
}

.ExampleRecipe .recipe-card img {
  width: 25rem;
  max-height: 25rem;
  border-radius: 2rem;
  margin-top: 1rem;
}

.ExampleRecipe .recipe-card a {
  position: relative;
  display: inline-block;
  color: var(--head-color);
}

.ExampleRecipe .recipe-card .mini-bean {
  width: 5rem;
}

.ExampleRecipe .recipe-card a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  width: 0;
  height: 0.1rem;
  background-color: var(--head-color);
  transition: width 0.3s linear;
}

.ExampleRecipe .recipe-card a:hover::before {
  width: 100%;
}
