@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@font-face {
  font-family: "lobster";
  src: local("lobster"), url("./fonts/Lobster\ 1.4.otf") format("woff");
}

:root {
  --head-color: #e83a4b;
  --secondary-color: #ee9085;
  --dark-red: #bd2328;
  --btn-red: #ec2c2f;
  --light-body-color: #f9f5f4;
  --dark-body-color: #eeeae6;
  --max-width: 1400px;
  --head-font: "Roboto", sans-serif;
  --text-font: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
}

body {
  padding-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--head-font);
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  font-family: var(--head-font);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

canvas {
  width: 80%;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
}

/* Header */
.Header {
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: var(--head-color);
}

.Header img {
  width: 5rem;
  transition: transform 0.3s ease;
}

.Header img:hover {
  animation: favicon-shake 0.4s ease 1 alternate;
}

.Header .container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.Header ul {
  display: flex;
  justify-content: center;
}

.Header ul li a {
  padding: 0.5rem;
  margin-right: 0.2rem;
  color: var(--light-body-color);
  background: transparent;
  border: 0.1rem solid transparent;
  border-radius: 3rem;
  transition: background 0.3s ease, color 0.3s ease;
}

.Header ul li a:hover {
  background: #e87a85;
  border: 0.1rem solid #e87a85;
  color: var(--light-body-color);
}

.Header img {
  margin: auto;
}

.Header .api {
  border: 0.1rem solid #e87a85;
  border-radius: 3rem;
  padding: 0.5rem;
}

.Header .api:hover {
  background: #e87a85;
  border: 0.1rem solid #e87a85;
  color: var(--light-body-color);
}

/* Landing Section */

.LandingSection {
  background: var(--light-body-color);
  height: 95vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.LandingSection .container {
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 1rem;
  margin: 0 auto;
}

.LandingSection .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 5rem;
  font-size: 1.1rem;
}

.LandingSection .img-wrapper {
  width: 40rem;
}

.LandingSection .img-wrapper:hover {
  animation: favicon-shake 0.7s ease-in-out 2 alternate;
}

.LandingSection p {
  color: var(--secondary-color);
  margin-top: 1rem;
}

.LandingSection h1,
.LandingSection h3 {
  color: var(--btn-red);
}

.LandingSection img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.LandingSection .btn {
  background: var(--dark-red);
  border: 1px solid var(--btn-red);
  padding: 0.5rem 0.5rem;
  margin-top: 1.5rem;
  display: inline-block;
  color: var(--light-body-color);
}

.LandingSection .bottom-description {
  position: absolute;
  bottom: 3rem;
  display: flex;
  width: 90%;
  max-width: var(--max-width);
  justify-content: space-between;
  align-items: flex-end;
}

.LandingSection .bottom-description div {
  width: 10rem;
}

.LandingSection .bottom-description div p {
  font-size: 0.7rem;
}

.LandingSection .bottom-description svg {
  color: var(--dark-red) !important;
  text-align: right;
  animation-duration: 3s;
}

/* Display History */
.DisplayHistory {
  background: var(--dark-body-color);
}

.DisplayHistory h3 {
  color: var(--head-color);
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem;
  font-family: "lobster";
}

.DisplayHistory .history-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1rem;
  padding: 1rem;
  padding-bottom: 3rem;
  text-align: center;
  font-size: 0.8rem;
  max-width: var(--max-width);
}

.DisplayHistory .history-grid .item-wrapper {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  border: 1px solid var(--dark-body-color);
}

.DisplayHistory .history-grid .item-wrapper:hover {
  border: 1px solid var(--btn-red);
}

.DisplayHistory .history-grid .item-wrapper:first-child {
  grid-column-start: 2;
  grid-column-end: span 2;
  justify-content: space-between;
  border: 1px solid var(--btn-red);
  font-size: 1rem;
  padding: 1rem;
}

.DisplayHistory .history-grid .item-wrapper:last-child {
  border: 1px solid var(--btn-red);
  font-size: 1rem;
}

.DisplayHistory .history-grid .item-wrapper svg {
  padding: 0.5rem;
  color: var(--head-color);
}

.DisplayHistory .history-grid h4 {
  color: var(--head-color);
  margin-bottom: 0.2rem;
}

.DisplayHistory .history-grid p {
  color: var(--dark-red);
  font-size: 0.6rem;
}

/* Informative Section */

.InformativeSection {
  width: 100%;
}
.InformativeSection #logo {
  display: none;
}

.beatFade {
  animation: beatFade 1.5s infinite;
}

@keyframes beatFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes favicon-shake {
  0%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}
