@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@font-face {
  font-family: "lobster";
  src: local("lobster"), url("./fonts/Lobster\ 1.4.otf") format("woff");
}

:root {
  --head-color: #e83a4b;
  --secondary-color: #ee9085;
  --light-pink: #fec9c4;
  --dark-red: #bd2328;
  --btn-red: #ec2c2f;
  --light-body-color: #f9f5f4;
  --dark-body-color: #eeeae6;
  --max-width: 1400px;
  --head-font: "Roboto", sans-serif;
  --text-font: "Raleway", sans-serif;
  --bg-img: url("../img/table-of-beans.png");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
}

body {
  /* padding-top: 5rem; */
  background-color: var(--dark-body-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--head-font);
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  font-family: var(--head-font);
  color: var(--head-color);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

svg {
  margin: 0 0.5rem;
}

canvas {
  width: 80%;
  height: 1398px;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
  padding: 0 1rem;
}

/* Happy Bean */
.happy-bean {
  width: 50%;
  margin: auto;
}

.full-screen {
}

/* Animations */
.beatFade {
  animation: beatFade 1.5s infinite;
}

@keyframes beatFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes favicon-shake {
  0%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}
